header {
  padding: 100px 0 50px;
}

@media (min-width: 502px) {
  header {
    padding: 86px 0 50px;
  }
}

section {
  padding: 80px 0;
}

body {
 
    color: #323232;
    font-size: 15px;
    font-weight: 400;
    background-image: url("../images/success.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
